--
-- PostgreSQL database dump
--

\restrict R2pc8STp4DrfhF93DnxptMtR9hJb9PueOkQ656kk2KWVN2yPcJkaBh11pVXdvfS

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: movies; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.movies (
    id integer NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.movies OWNER TO admin;

--
-- Name: movies_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.movies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.movies_id_seq OWNER TO admin;

--
-- Name: movies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.movies_id_seq OWNED BY public.movies.id;


--
-- Name: recommendations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.recommendations (
    id integer NOT NULL,
    movie_id integer NOT NULL,
    recommended_name character varying(255) NOT NULL
);


ALTER TABLE public.recommendations OWNER TO admin;

--
-- Name: recommendations_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.recommendations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recommendations_id_seq OWNER TO admin;

--
-- Name: recommendations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.recommendations_id_seq OWNED BY public.recommendations.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: movies id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.movies ALTER COLUMN id SET DEFAULT nextval('public.movies_id_seq'::regclass);


--
-- Name: recommendations id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.recommendations ALTER COLUMN id SET DEFAULT nextval('public.recommendations_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: movies; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.movies (id, name) FROM stdin;
\.


--
-- Data for Name: recommendations; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.recommendations (id, movie_id, recommended_name) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.users (id, username, password_hash) FROM stdin;
1	admin	$2a$12$HoXY.iiRWiabu.FwVpnEPu9SbSkRnxK2/z/o/ioDjwmTLBWtO2nVC
2	felipe	$2a$12$oJ1lDgRJdJraUx5lNgPGIu4d/4fv6MhFq.D4LTHtO3.1G0npvcfYm
7	admin2	$2a$12$DP9JqaYZdgtquffRjJwYsuZXs9WV/EP7WrU8nstd6CRv9tT4s3UQa
9	nacho	$2a$12$VydyfkS0qYIP6vWX8ZmesOmAN0/FSxzSODzKPykRAlA10e9CfzvOi
\.


--
-- Name: movies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.movies_id_seq', 1, false);


--
-- Name: recommendations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.recommendations_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.users_id_seq', 9, true);


--
-- Name: movies movies_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.movies
    ADD CONSTRAINT movies_pkey PRIMARY KEY (id);


--
-- Name: recommendations recommendations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.recommendations
    ADD CONSTRAINT recommendations_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_movies_name; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_movies_name ON public.movies USING btree (name);


--
-- Name: idx_recommendations_movie_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_recommendations_movie_id ON public.recommendations USING btree (movie_id);


--
-- Name: movies_name_lower_unique; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX movies_name_lower_unique ON public.movies USING btree (lower((name)::text));


--
-- Name: recommendations fk_recommendations_movie; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.recommendations
    ADD CONSTRAINT fk_recommendations_movie FOREIGN KEY (movie_id) REFERENCES public.movies(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict R2pc8STp4DrfhF93DnxptMtR9hJb9PueOkQ656kk2KWVN2yPcJkaBh11pVXdvfS

